/* stylelint-disable-next-line at-rule-no-unknown */
@use utilities;

body {
  @apply text-grey-900;

  font-size: 0.875rem;
  line-height: 1;
}

a {
  @apply text-green-dark;
}

button {
  border: none;
  outline: none;
}

.card {
  @apply min-w-1/3 max-w-1/2;
  @apply my-2 px-2;
}
