html {
  transform: rotate(-90deg);
  transform-origin: left top;
  width: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0; }

.btn {
  color: lch(53 105 40deg);
  border: none;
  outline: none; }
  .btn__primary {
    color: #3dd8f3; }
  .btn__secondary {
    color: #aa8232; }

:fullscreen {
  font-size: 1rem; }

:is(input, select):is(:focus, :hover) {
  color: #f20; }
